In [2]:
import pandas as pd

df = pd.read_csv('data/Sales.csv')
df.head(2)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950

In [6]:
df.describe().T.drop(['count'], axis=1).drop(['Day', 'Year'])

                      mean          std   min   25%    50%    75%      max
Customer_Age     35.919212    11.021936  17.0  28.0   35.0   43.0     87.0
Order_Quantity   11.901660     9.561857   1.0   2.0   10.0   20.0     32.0
Unit_Cost       267.296366   549.835483   1.0   2.0    9.0   42.0   2171.0
Unit_Price      452.938427   922.071219   2.0   5.0   24.0   70.0   3578.0
Profit          285.051665   453.887443 -30.0  29.0  101.0  358.0  15096.0
Cost            469.318695   884.866118   1.0  28.0  108.0  432.0  42978.0
Revenue         754.370360  1309.094674   2.0  63.0  223.0  800.0  58074.0

## Filter out a country and find its KPIs

In [ ]:
country = 'Canada'
df_by_country= df.query('Country.str.casefold()== @country.casefold()' )
df_by_country.head(2)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950

In [17]:
str(df_by_country['Profit'].sum()), str(df_by_country['Cost'].sum()) , str(len(df_by_country))

('3717296', '4218442', '14178')

make into dict

In [18]:
{
    "total_profit": str(df_by_country["Profit"].sum()),
    "total_cost": str(df_by_country["Cost"].sum()),
    "number_of_purchases": str(len(df_by_country)),
}

{'total_profit': '3717296',
 'total_cost': '4218442',
 'number_of_purchases': '14178'}